# ignore the uploads folder
wp-content/uploads

# ignore the content folders that are managed by Composer
wp-content/mu-plugins/*
!wp-content/mu-plugins/address-book-hacks.php
!wp-content/mu-plugins/loader.php
!wp-content/mu-plugins/not-so-autoload.php
wp-content/plugins/*
!wp-content/plugins/js-*
!wp-content/plugins/autoblue/**/*
wp-content/themes/*
!wp-content/themes/artbox

# Ignore core WordPress. We'll let those auto update
wp-admin/*
wp-includes/*
wp-content/sunrise.php
wp-content/index.php
license.txt
wp-*.php
!wp-config.php
xmlrpc.php
index.php
server-config.php
/index.php
readme.html

# Backup files
index.php.tmp
wp-config.php.bak

# Don't ignore packages
!packages/*
!packages/jz-222/index.php
packages/*/.git
packages/altis-cms/

# ignore random other shit
audio/
images/

# ignore node dependency directories
node_modules/
vendor/

# Ignore _misc folder
_misc/

# ignore log files and databases
*.log
*.sql
*.sqlite
.vscode/settings.json
