<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="jazzsequence-mcp-abilities">
			<directory prefix="test-" suffix=".php">./tests/</directory>
			<exclude>./tests/test-assumptions.php</exclude>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./includes</directory>
			<file>./jazzsequence-mcp-abilities.php</file>
		</whitelist>
	</filter>
</phpunit>
