name: Deploy
on:
  push:
    branches:
      - main
    paths-ignore:
    - '.github/**'
    - 'README.md'
    - 'RELEASES.md'
    - 'bin/**'
  workflow_dispatch:
jobs:
  deploy:
    name: Deploy to Digital Ocean
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install SSH keys
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Add SSH Host to known_hosts
        run: ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts
      - name: Setup PHP 8.4
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
      - name: Setup auth.json
        run: composer config --auth http-basic.objectcache.pro token ${{ secrets.OBJECTCACHE_PRO_TOKEN }}
      - name: Install Composer Dependencies
        run: composer install --no-dev --optimize-autoloader --ignore-platform-reqs
      - name: Setup Dashboard Changelog
        run: |
          # This is a temporary fix if the build tools do not work
          DASHBOARD_CHANGELOG_PATH=wp-content/mu-plugins/dashboard-changelog
          FILE=${DASHBOARD_CHANGELOG_PATH}/vendor/erusev/parsedown/Parsedown.php
          if [ -f "$FILE" ]; then
            cd $DASHBOARD_CHANGELOG_PATH
            composer install --no-dev --no-progress
          fi
      - name: Deploy to Digital Ocean
        run: |
          rsync -avzi --progress \
            --exclude='content' \
            --exclude='node_modules' \
            --exclude='.git' \
            --exclude='.github' \
            --exclude='bin' \
            ./ ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/var/www/html/
