name: Run PHPCS
on:
  push:
jobs:
  phpcs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install dependencies
        run: composer install
      - name: Run PHPCS
        run: composer phpcs